@import "../../../../globalStyle/style";

.card-of-task{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  padding: 8px;
  margin: 10px 0;
  box-shadow: $box-shadow;

  .update-input{
    width: 85%;
    border: 0;
    border-bottom: 1px solid $grey-three;

    &:focus {
      //border-radius: 3px;
      //border: 0;
      //box-shadow: 0 0 0 1pt $green-one;
      border-bottom: 1px solid $green-one;
      outline: none;
    }
  }

  .update-accept, .update-decline{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    border: 0;
    background-color: white;

    &:hover{
      border-radius: 3px;
      //background-color: white;
      color: black;
      cursor: pointer;
    }

    &:focus{
      outline: none;
    }
  }

  .update-button{
    width: 15%;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 0;
    padding: 2px;
    color: $grey-three;

    &:hover{
      border-radius: 3px;
      //background-color: white;
      color: black;
      cursor: pointer;
    }

    &:focus{
      outline: none;
    }
  }

  .card-of-task-title{
    width: 85%;
  }

  .card-of-task-icon{
    width: 15%;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 0;
    padding: 2px;
    color: $grey-three;

    &:hover{
      border-radius: 3px;
      //background-color: white;
      color: black;
      cursor: pointer;
    }

    &:focus{
      outline: none;
    }
  }
}

.add-new-card{
  margin: 5px 0;

  .add-new-card-butt{
    display: flex;
    padding: 8px;
    width: 100%;
    align-items: center;
    border-radius: 3px;
    border: 1px $grey-two solid;
    color: $grey-three;
    background-color: $grey-one;

    &:hover{
      cursor: pointer;
      opacity: 50%;
    }

    &:focus{
      outline: none;
    }

    p{
      margin-left: 5px;
    }
  }
}

.add-new-card-input-main{

  display: flex;
  flex-direction: column;

  .add-new-card-input {
    display: flex;
    padding: 8px;
    align-items: center;
    min-width: 238px;
    border-radius: 3px;
    border: 0;
    color: $grey-three;
    resize: none;

    &:hover {
      cursor: text;
      //opacity: 50%;
    }

    &:focus {
      //outline: 1px dashed blue;
      box-shadow: 0 0 0 1pt $green-one;
      outline: none;
    }
  }


  .add-new-card-add-butt{
    width: 50%;
    height: 32px;
    margin-top: 10px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px $green-one solid;
    color: $green-one;
    background-color: $grey-one;

    &:hover{
      cursor: pointer;
      opacity: 50%;
    }

    &:focus{
      outline: none;
    }
  }


}