@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$montserrat: 'Montserrat';

$grey-one: #ebecf0;
$grey-two: #d6d7da;
$grey-three: #89898a;

$box-shadow: 1px 1px 5px 1px #c0c0c0;



*{
  font-family: $montserrat;
  margin: 0;
  padding: 0;
}