@import "../../globalStyle/style";

.list-list{
  display: flex;
  margin: 20px;
}

.add-new-list{
  display: table;
  margin: 0 10px;
  background-color: $grey-one;
  border-radius: 3px;
  box-shadow: $box-shadow;

  .add-new-list-butt{
    display: flex;
    padding: 8px;
    align-items: center;
    min-width: 254px;
    border-radius: 3px;
    border: 0;
    color: $grey-three;

    &:hover{
      cursor: pointer;
      opacity: 50%;
    }

    &:focus{
      outline: none;
    }

    p{
      margin-left: 5px;
    }
  }
}